@*@{
    ViewData["Title"] = "PLayer Page";
}
@using Microsoft.AspNetCore.Identity
@using MusicPlayer.Services.UserMusicManager
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject UserMusicService UserMusicService

<div class="text-center">
    <h1>Songs</h1>
      <ol>

      </ol>
    @ViewBag.Message
</div>*@
<h1>Hello</h1>
<script src='../js/wavesurfer.js'></script>
<div id="waveform"></div>
<script>
const wavesurfer = WaveSurfer.create({
    container: '#waveform',
    scrollParent: true
});
wavesurfer.load('../test.mp3');
wavesurfer.on('ready', function () {
    wavesurfer.play();
});
</script>