@*@{
    ViewData["Title"] = "PLayer Page";
}
@using Microsoft.AspNetCore.Identity
@using MusicPlayer.Services.UserMusicManager
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject UserMusicService UserMusicService

<div class="text-center">
    <h1>Songs</h1>
      <ol>

      </ol>
    @ViewBag.Message
</div>*@
<h1>Hello</h1>

<div id="waveform"></div>
<div>
    <button id="playpause">play/pause</button>
    <button id="next">next</button>
    <button id="previous">previous</button>
    <button id="muteunmute">mute/unmute</button>
</div>
<script src='../js/wavesurfer.js'></script>
<script src="../js/player.js"></script>
