@{
    ViewData["Title"] = "Playlist";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div>
    <dl>
      <dt>Musics</dt>
        <dd>- black hot drink</dd>
        <dd>- black hot drink</dd>
        <dd>- black hot drink</dd>
        <dd>- black hot drink</dd>
    </dl>
</div>
